
#reportContainer {
    position:absolute;
    top: 40px;
    bottom:0;
    left:0;
    right:0;
}

#bar{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: white;
    height: 8px;
    border-left: 5px solid white;
}

.report-btn{
    position: absolute;
    top: 5px;
}

.l50-btn {
    left: 50px;
}

iframe{
    border-width: 1px;
    border-style: solid;
    border-color: #e6e6e6;
}