<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuofengyuan.wechat.shop.mapper.ProductCategoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="ProductCategory">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="parent" property="parent"/>
        <result column="parentName" property="parentName"/>
        <result column="status" property="status"/>
        <result column="level" property="level"/>
        <result column="number" property="number"/>
        <result column="sort_order" property="sortOrder"/>
        <result column="is_leaf" property="isLeaf"/>
<!--        <collection property="children" ofType="ProductCategory" column="id" select="selectTreeByParent" />-->
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
                p.id, p.parent, p.name, p.status, p.sort_order, p.level, p.number, p.is_leaf
        </sql>

    <sql id="Children_Column_List">
                c.id cid, c.parent cparent, c.name cname, c.status cstatus, c.sort_order csort
        </sql>

    <select id="selectTree" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        '' parentName
        FROM product_category p
        WHERE parent is null
    </select>

    <select id="selectTreeByParent" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>,
        e.name parentName
        FROM product_category p
        LEFT JOIN product_category e on e.id = p.parent
        WHERE p.parent = #{parent}
    </select>
</mapper>