<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhuofengyuan.wechat.shop.mapper.ProvinceTaskMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.zhuofengyuan.wechat.shop.entity.ProvinceTask">
                <result column="id" property="id" />
                    <result column="amount" property="amount" />
                    <result column="province" property="province" />
                    <result column="month" property="month" />
                    <result column="year" property="year" />
                    <result column="dept" property="dept" />
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
                id,
            amount, province, month, year, dept
        </sql>

</mapper>